body, html
{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-size: 16px;
   font-family: helvetica, arial;
   background: #f9f9f9;
   color: #111;
}

.wrapper{
	overflow: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.audio{
	margin: auto;
	display: block;
	width: 600px;
	height: 150px;
}

audio::-webkit-media-controls-panel {
  background-color: #00a6ffe2;
}
audio::-webkit-media-controls-play-button {
    transform: scale(2, 2);
}
audio::-webkit-media-controls-timeline {
    height: 10px;
}

 
.main
{
   display: table-cell;
   text-align: center;
}
 

.quiz__head
{
   font-size: 20pt;
   margin: 10px;
   margin-bottom: 20px;
}
 
.head__content
{
	display: flex;
	justify-content: center;
	width:90%;
	font-size: 50px;
	padding: 50px;
}
 
.img, .video
{
	width:90%;
}

.buttons__content{
	padding: 20px
}

.button
{
	width:100%;
   border: 0;
   border-radius: 10px;
   background: #ffe500e2;
   color: black;
   padding: 30px 30px;
   width: 90%;
   font-size: 25pt;
    font-weight: 500;
   display: block;
   margin: 2px auto;
   cursor: pointer;
}
